#contact {
    scroll-snap-align: start;
    text-align: center;
    color: whitesmoke;
    background: radial-gradient(circle, rgba(58,59,54,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.h-con {
    margin: auto;
}

.ico2 {
    font-size: min(max(36px, 4vw),48px);
    margin: 2% 4%;
}

@media (min-width:768px) {
    .contact {
        border-width: 80px 360px 0 360px;
    }
}

.wa, .mail, .phone {
    color: #E4002B;
}

.sos {
    font-size:  min(max(32px, 4vw),48px);
}

.sos-ico {
    padding: 0px 16px;
    color: #E4002B;
}
