.jumbo {
    text-align: center;
    height: 100vh;
    background: radial-gradient(circle, rgba(58,59,54,1) 0%, rgba(0,0,0,0.5) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    top: 0;
    z-index: 1;
    scroll-snap-align: start;
}

.btn-1 {
    padding: 6px 40px;
    margin-top: 10%;
    animation: slide-in-bottom 0.5s linear 3s both;
}

h1 span {
    font-family: 'Yatra One', cursive;
    color: #E4002B;
}

.slide-in-left {
	        animation: slide-in-left 1s linear 1s both;
}

  @keyframes slide-in-left {
    0% {
      letter-spacing: 0.5em;
      opacity: 0;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

.slide-in-right {
	animation: slide-in-right 1s linear 2s both;
}

@keyframes slide-in-right {
    0% {
      letter-spacing: 0.5em;
      opacity: 0;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
      transform: translateY(100vh);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.bounce-top {
	animation: bounce-top 1s 3.5s both;
}

@keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
}