.me {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 75vh;
    justify-content: center;
}
.satu {
    position: absolute;
    top: 100vh;
    transform: translateX(100vw);
}
.pic {
    background: url(../Image/latar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 320px;
}