p, .btn {
  font-size: min(max(14px, 4vw),16px);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: min(max(32px, 4vw),48px);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: min(max(26px, 4vw),36px);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: min(max(22px, 4vw),28px);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

h4 {
  font-size: min(max(18px, 4vw),20px);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.ijo {
  color: #E4002B;
  margin: 0px;
}
span, a {
  color: #E4002B;
}
.kanan {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 5000;
}
.kirii {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 5000;
}
.atas {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 5000;
}
.bawah {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 5000;
}
a p {
  color: white;
  margin-bottom: 0px;
  letter-spacing: 6px;
}
.icon {
  width: 45px;
  height: auto;
}
a:hover {
  color: white;
  text-decoration: none;
}
.cont {
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  background: radial-gradient(circle, rgba(58,59,54,1) 0%, rgba(0,0,0,1) 100%);
  justify-content: center;
  text-align: center;
  scroll-snap-align: start;
}